.goods-box {
    background-color: #388697;
    border: solid 0.003px rgba(0, 0, 0, 0.534);
    height: 850px;
    width: 70%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
    height: 80px;
    border: solid 0.003px rgba(0, 0, 0, 0.534);
    border-top-style: none;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #08415C;
        width: 200px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.goods-elements-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goods-elements {
    position: relative;
    display: flex;
    background-color: #08415C;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 30px;
        cursor: pointer;
        background-color: #0c5475;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
        border-color: black;
        border-width: 0.3px;
        &:hover {
            background-color: #094c6b;
        }
    }
}