.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08415C;
    height: 85px;
    h1 {
        color: white;
        margin: 0px;
        text-align: center;
    }
}