.basket-box {
    background-color: #388697;
    border: solid 0.003px rgba(0, 0, 0, 0.534);
    height: 850px;
    width: 30%;
}

.basket-headline {
    height: 50px;
    margin: 20px;
    background-color: #08415C;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.basket-elements {
    position: relative;
    display: flex;
    background-color: #08415C;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    min-width: 200px;
    min-height: 50px;
    padding: 10px;
    margin: 10px;
}